// Here you can add other styles
.bg-primary {
    background-color: #556B2F !important;
}
//botones
.bottoms{
    background-color: #556B2F !important;
    color: white;
}
:hover.bottoms{
    background-color: #425324 !important;
    color: white;
}
.simplebar-content .active{
    background-color:#425324 !important ;
}
.simplebar-content .nav-link:hover{
    background-color: #425324 !important;
}
.update{
    width: 2.6cm;
    color: white;
    background-color: #556B2F;
    display: table-row;
    margin-right: 0.3cm;
}
:hover.update{
    background-color: #425324;
    color: white;
}

.delete{
    width: 2cm;
    color: white;
    background-color: red;
}
:hover.delete{
    background-color: rgb(180, 0, 0);
    color: white;
}

#login{
    background-color: #556B2F;
    border-color: #556B2F;
    color: white;
}
.px-0{
    color: black !important;
}

#register {
    background-color: white;
    border-color: white;
    color: black;
}

.text-center {
    color: white;
}

#title{
    width: 0.3cm;
    height: 0.3cm;
    display: table-row;
    justify-content:center;
    text-align: center;
}
.update{
    width: 1.5cm;
    height: 1cm !important;
}
.delete{
    width: 1.5cm;
    height: 1cm !important ;
}
.table td, .table th {
    padding: 0.2rem; 
  }

.login-background {
    background-image: url("/src/assets/images/fondo_michelena.jpg"); 
    background-size: cover; 
    background-position: center;
    height: 100vh;
}
.logo{
    height: 80px !important;
}

.modal{
    background-color: #00000083;
}

#ConfirmDelete{
    color: white !important;
    background-color: red;
}
//logo del panel principal
.border-bottom-logo{
    border-bottom: solid white 0.1px!important;
    width: 100cm !important;
}
.border-top-logo{
    border-top: solid white 0.1px!important;
    width: 50cm !important;
}
//table clients 
.custom-table {
    border-radius: 0.5rem; /* Ajusta el valor según sea necesario */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
  }


/* .login-right{
    background-color: red !important;
} */
// #img1{
//     margin-right: 10px;
// }
// #h2logo{

//     text-decoration: blue;
//     border-bottom: blue;
// }
// <div className='img'><img id='img1' width={50} height={40} src={Logo}></img ></div>
// import Logo from '/Users/Yoangel/Downloads/logo/logo.png'