// Here you can add other styles
.bg-primary {
    background-color: #2C3E50 !important; /* Dark Blue */
}

// botones
.bottoms {
    background-color: #2980B9 !important; /* Blue */
    color: white;
}
:hover.bottoms {
    background-color: #1A5276 !important; /* Darker Blue */
    color: white;
}
.simplebar-content .active {
    background-color: #1A5276 !important; /* Darker Blue */
}
.simplebar-content .nav-link:hover {
    background-color: #1A5276 !important; /* Darker Blue */
}
.update {
    width: 2.6cm;
    color: white;
    background-color: #2980B9; /* Blue */
    display: table-row;
    margin-right: 0.3cm;
}
:hover.update {
    background-color: #1A5276; /* Darker Blue */
    color: white;
}

.delete {
    width: 2cm;
    color: white;
    background-color: #C0392B; /* Red */
}
:hover.delete {
    background-color: #A93226; /* Darker Red */
    color: white;
}

#login {
    background-color: #2980B9; /* Blue */
    border-color: #2980B9; /* Blue */
    color: white;
}
.px-0 {
    color: black !important;
}

#register {
    background-color: #ECF0F1; /* Light Gray */
    border-color: #ECF0F1; /* Light Gray */
    color: black;
}

.text-center {
    color: white;
}

#title {
    width: 0.3cm;
    height: 0.3cm;
    display: table-row;
    justify-content: center;
    text-align: center;
}
.update {
    width: 1.5cm;
    height: 1cm !important;
}
.delete {
    width: 1.5cm;
    height: 1cm !important;
}
.table td, .table th {
    padding: 0.2rem; 
}

.login-background {
    background-image: url("/src/assets/images/fondo_michelena.jpg"); 
    background-size: cover; 
    background-position: center;
    height: 100vh;
}
.logo {
    height: 80px !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent Black */
}

#ConfirmDelete {
    color: white !important;
    background-color: #C0392B; /* Red */
}

// logo del panel principal
.border-bottom-logo {
    border-bottom: solid white 0.1px !important;
    width: 100cm !important;
}
.border-top-logo {
    border-top: solid white 0.1px !important;
    width: 50cm !important;
}

// table clients 
.custom-table {
    border-radius: 0.5rem; /* Adjust as necessary */
    overflow: hidden; /* Ensures rounded borders are applied correctly */
}

/* .login-right {
    background-color: red !important;
} */
// #img1 {
//     margin-right: 10px;
// }
// #h2logo {
//     text-decoration: blue;
//     border-bottom: blue;
// }
// <div className='img'><img id='img1' width={50} height={40} src={Logo}></img ></div>
// import Logo from '/Users/Yoangel/Downloads/logo/logo.png'
